/* 
    
    adobe color
    
*/ /* Color Theme Swatches in Hex */
#Blue {
  color: #001542;
}
#teal {
  color: #085454;
}
#navy {
  color: #7a7a7a;
}
#white {
  color: #ffffff;
}
#yellow {
  color: #ffb30d;
}

/* Demo styles */


/* .swiper-button-next{
  color: #ffffff;
}
.swiper-button-prev{
  color: #ffffff;
}

.swiper-pagination{
  color: #ffffff;
} */

.swiper-wrapper{
  width: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-image{
  background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
}

/* .pattern{
    background-color: #491991;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' 
    xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 
    8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636
     32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8
      8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 
      34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%237e55c0' fill-opacity='0.87' fill-rule='evenodd'/%3E%3C/svg%3E");
} */
